body {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 10px;
}

main {
    flex: 1 1 60%;
}

aside {
    flex: 0 0 30%;
    padding-left: 15px;
    margin-left: 0;
    font-style: italic;
    background-color: lightgray;
    border-radius: 5px;
}

a:hover{
    color: rgb(187, 187, 227);
}
